﻿html {    
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans Pro";	
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

#tb-artigos td { border:0;}
#tb-carrinho .first {border:0; padding-bottom:10px;} td { border-top: 1px solid #EDF0F2;} 
#tb-resumo tr td {border:0px; padding-bottom:30px;}  



/***********HEADER***********/
.header {
    width: 100%;
    height: 103px;
    border-bottom: 1px solid #EDF0F2;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right: 44px;
}

    .header .titulo {
        position: absolute;
        left: 44px;
        top:39px;
    }

    .header .menu {
        text-align: center;
        width: 100%;
        margin-top:35px;
    }

    .header .menuOpcao {
        display: inline-block;
        text-align:center;
        line-height:40px;
    }

        .header .menuOpcao.activo {
            border-bottom: 2px solid #2D333E;
        }

        .header .menuOpcao:not(:first-child) {
            margin-left:50px;
        }

        .header .headerCarrinho_total {	
            height: 48px;	
            width: 128px;	
            border: 2px solid #EDF0F2;	
            border-radius: 26px;	
            /*box-shadow: 0 8px 16px 0 rgba(20,115,102,0.15);*/
            float: left;
            display: block;
            
        }

        .header .headerCarrinho_totaltxt {	
            height: 20px;	
            width: 56px;	
            opacity: 0.8;	
            color: #596B79;	
            font-size: 16px;	
            font-weight: bold;	
            line-height: 20px;	
            text-align: right;

        }

        .header .headerCarrinho_totalitems
        {	 height: 26px;	
             width: 26px;	
             background-color: #4A90E2;
             border-radius: 50%;
             display: inline-block;
             margin-top: 11px;
             margin-left: 10px;
             
            
        }

        .header .headerCarrinho_totalitemstxt {	
            height: 10px;	
            width: 8px;	color: #FFFFFF;	           
            font-size: 15px;	
            font-weight: bold;	
            line-height: 10px;	
            text-align: center;

        }

        .header .headerCarrinho_btn {	
            height: 48px;	
            width: 170px;	
            border-radius: 26px;	
            background-color: #48DDC9;	
            box-shadow: 0 8px 16px 0 rgba(72,221,201,0.53);
            cursor:pointer;
            padding-top:2px;
        }

        .header .headerCarrinho_btntxt {
            height: 20px;
            width: 119px;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            /*text-align: center;*/
            cursor:pointer;
           
        }

.Cards {	
    height: 465px;	
    width: 270px;	
    border-radius: 10px;
    background-color: #FFFFFF;	
    box-shadow: 0 40px 60px 0 rgba(46,67,108,0.06);
    margin-right:42px;
   
    
    /* 
    border-color: #FFFFFF;
    border-style : hidden!important;
    */
}

.Cards_image { 
    height: 283px;	
    width: 265px;
}

.Cards_categoria { 
    height: 25px;	
    width: 88px;	
    color: #2D333E;	   
    font-size: 20px;	
    font-weight: 600;	
    line-height: 25px;
}

.Cards_titulo { 
    height: 20px;	
    width: 147px;	
    color: #2D333E;	  
    font-size: 18px;	
    font-weight: 600;	
    line-height: 20px;	
    text-align: center;
}

.Cards_periocidade { 
    height: 18px;	
    width: 94px;	
    color: #A1AAB4;	
    font-size: 13px;	
    line-height: 18px;	
    text-align: center;
}

.Cards_preco { 
   height: 18px;	
   width: 28px;	
   color: #A1AAB4;	
   font-size: 18px;
   font-weight: 600;
   line-height: 18px;	
   text-align: center;
}

.Cards_btn {
        height: 36px;
        width: 130px;
        border: 2px solid #EDF0F2;
        border-radius: 21px;
        margin-left: 65px;
        /*
        margin-bottom: 40px;
        margin-top: 20px;
        */
        cursor:pointer;
        
}
   

.Cards_btntxt { 
    height: 17px;	
    width: 63px;	
    color: #A1AAB4;	        
    font-size: 13px;	
    font-weight: 600;	
    line-height: 17px;	
    text-align: center;
    margin-left: 34px;
    padding-top: 8px;
}


.Cards_titulo_small { 
    height: 20px;	
    width: 143px;	
    color: #2D333E;	
    font-size: 18px;	
    font-weight: 600;	
    line-height: 20px;
    
}

.Cards_preco_small { 
  	height: 18px;	
    width: 77px;	
    color: #596B79;	
    font-size: 15px;	
    line-height: 18px;
  
}

.Cards_precoAplicar_small {
    height: 18px;
    width: 60px;
    color: #2D333E;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: right;
}

.Cards_periocidade_small { 
    height: 18px;	
    width: 94px;	
    color: #A1AAB4;	
    font-size: 13px;	
    line-height: 18px;	
  
}

.Cards_btnEliminar_small { 
   height: 18px;	
   width: 46px;	
   color: #4A90E2;	
   font-size: 13px;
   line-height: 18px;  
   cursor:pointer;

}

.subscricoesSubTitulo {
    font-size: 20px;
    height: 25px;	
    width: 176px;	
    color: #2D333E;	
   	font-size: 20px;	
    font-weight: 600;	
    line-height: 25px;
    
}

.subscricoes_voltar_btn {
    height: 48px;
    width: 200px;
    border: 2px solid #EDF0F2;
    border-radius: 26px;
    box-shadow: 0 8px 16px 0 rgba(72,221,201,0.53);
    cursor:pointer;
}

.subscricoes_voltar_btntxt {	
    height: 19px;	
    width: 142px;	
    color: #A1AAB4;	
    font-size: 15px;	
    font-weight: 600;	
    line-height: 19px;	
    text-align: center;
    cursor:pointer;
}

.subscricoes_finalizar_btn {	
    height: 52px;	
    width: 210px;	
    border-radius: 26px;	
    background-color: #48DDC9;	
    box-shadow: 0 8px 16px 0 rgba(72,221,201,0.53);
    cursor:pointer;
}

.subscricoes_finalizar_btntxt {	
    height: 20px;	
    width: 139px;	
    color: #FFFFFF;	
    font-size: 16px;	
    font-weight: 600;	
    line-height: 20px;	
    text-align: center;
    cursor:pointer;
}

.blockLeft {
    float: left;
    display: block;
}

.blockRight {
    float: right;
    display: block;
}

.fLeft {
    float: left;
}

.fLeftin {
    float: left;
    display: inline-block;
}

.fRight {
    float: right;
}

.subscricoesSubTotal {
   height: 18px;	
   width: 59px;	
   color: #2D333E;	
   font-size: 18px;	
   line-height: 18px;	
   text-align: right;
}

.t13{  
   	color: #596B79;
    font-size: 13px;
}

.t15{  
   	color: #2D333E;
    font-size: 15px;
}

.t15w3{  
   	color: #2D333E;
    font-size: 15px;
    font-weight: 300;
}

.t15w6{  
   	color: #2D333E;
    font-size: 15px;
    font-weight: 600;
}

.t18{  
   	color: #2D333E;
    font-size: 18px;
}

.t28{  
    color: #2D333E;
    font-size: 28px;
}

.t13c2D{  
    color: #2D333E;
    font-size: 13px;
}

.t13A1{  
    color: #A1AAB4;
    font-size: 13px;
}

.t20cA4{  
    color: #4A90E2;
    font-size: 20px;
}

